/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

* {
	font-size: medium;
}

body {	
	box-sizing: border-box;
	line-height: 1.2;
}

.container {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	line-height: 1.2;
}

header {
	display: flex;
	margin-top: 30px;
	justify-content: space-between;
	margin-bottom: 80px;
	align-items: center;
}

nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	
}

header nav a {
	margin: 0 2.63%;
	text-decoration: none;
	color: rgb(126, 80, 80);
}

header nav a:hover,
header nav a:active {
    border-bottom: 2px solid lightblue;
    transition: border-bottom 0.2s;
}

.logo {
	margin-left: 70px;
}

h3 {
	font-size: 150%;
}

.top {
	display: flex;
	align-content: center;
}

.top div {
	width: 100%;
	align-content: center;	
}

.innovation-text {
	font-size: 450%;
	padding-top: 60px;
	margin-left: 60px;
	text-align: center;
	justify-content: center;
}

.get-started-button {
	margin-left: 40%;
	width: 150px;
	background: none;
	border: 1px solid black;
	padding: 5px;		
}

.get-started-button:hover {
	background: lightblue;
}

.line {
	margin: 80px 0 30px 0;
}

.upper-section {
	display: flex;
	margin-left: 20px;
}

.upper-section p {
	width: 100%;
	justify-content: space-between;
}

.middle-img {
	padding: 40px 0;
	height: auto;
	margin: 0 auto;
	width: 100%;
}


.lower-section {
	display: flex;
	margin-left: 20px;
}

.lower-section p {
	width: 90%;
	justify-content: space-between;
}

.contact-section {
	margin-left: 20px;
}

.address {
	line-height: 20px;
}

.contact {
	line-height: 40px;
}

.footer {
	text-align: center;
	padding: 30px;
}


/*---- SERVICES PAGE SPECIFIC CSS ----*/

.services-header-img {
	padding: 20px 0;
}

h1 {
	font-size: 150%
}

h2 {
	font-size: 120%;
}

h3 {
	font-size: 100%;
}

.boxes {
	border: 1px solid black;
}
.button2 {
	border: 1px solid black;
	font-size: 60%;
	padding: 7px 25px;
	border-radius: 4px;
}

ul {
	list-style-type: square;
	line-height: 2;
}

ul li {
	margin-left: 20px
}

.facts {
	display: flex;
}

.facts p {
	margin-bottom: 20px;
	width: 90%;
}


/* TABLET VIEW */

@media (max-width: 800px) {
	header {
		flex-direction: column-reverse;
		align-items: center;
		width: 100%;
	}

	.innovation-text {
		font-size: 450%;
		padding-top: 60px;
		margin: 0 auto;
		text-align: center;
		justify-content: center;
	}

	.logo {
		margin-bottom: 20px;
	}

	.big-logo {
		display: none;
	}

	.top {
		text-align: center;
	}

	.get-started-button {
		margin: 0 auto;
		width: 150px;
		background: none;
		border: 1px solid black;
		padding: 5px;		
	}

}

/* MOBILE VIEW */

@media (max-width: 500px) {
	.container {
		flex-direction: column;
		align-items: center;
		width: 91%;
		margin: 0 80px 0 20px;
	}

	.logo {
		justify-content: flex-start;
		margin: 20px auto;
	}

	.innovation-text {
		font-size: 450%;
		padding-top: 60px;
		margin: 0 auto;
		text-align: center;
		justify-content: center;
	}

	.get-started-button {
		margin: 0 auto;
		width: 150px;
		background: none;
		border: 1px solid black;
		padding: 5px;		
	}

	.upper-section {
		flex-direction: column;
	}

	.upper-section p {
		margin-bottom: 40px;
		width: 90%;
	}

	.lower-section {
		flex-direction: column;
	}

	.lower-section p {
		margin-bottom: 20px;
	}

	nav {
		display: flex;
		width: 0 auto;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		
	}

	nav a {
		align-items: center;
		justify-content: center;
		border-bottom: 1px solid black;
		flex-direction: column;
		padding: 20px;
	}

	nav a:first-child {
		border-top: 1px solid black;		
	}

	.middle-img {
		height: auto;
		margin: 0 20px 0 20px;
		width: 90%;
	}

	.line {
		border-top: 2px solid black;
		margin: 80px 20px 60px 20px;
	}

}